html {
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  display: block;
  margin: 0;
  color: #b20953;
}

p {
  background-color: #fff;
  font-size: 1.125em;
  font-family: Georgia, serif;
  margin: .4em;
}

.berries {
  color: #b20953;
}

header {
  display: block;
  text-align: center;
  background-color: #ffe500;
  padding: .2em;
}

.button {
  border-color: #ffe500;
  background-color: #ffe500;
  outline-offset: 2px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  font-size: 1.125rem;
  margin: 0;
  list-style-type: none;
}

.hover {
  color: #b2a212;
}

nav a:hover {
  color: #cc1465;
}

main {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
  text-align: left;
  margin: .6em .3em;
  font-size: 1.875rem;
}

body {
  font-family: Georgia, serif;
  margin: 0;
  color: #2f2d13;
  background-color: #fff;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

footer {
  color: #2f2d13;
  background-color: #ffe500;
  text-align: center;
  padding: 1.25em;
  font-size: .75em;
}

.nav .current {
  background-color: red;
}

a:hover {
  font-family: Georgia, serif;
  background-color: #cc1465;
}

a {
  border-radius: 4px;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  padding: .2em .5em .3em;
  display: inline-block;
}
